/* Dropdown Button */
.dropbtn {
    background-color: #45c2e3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Default = Hidden) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links in de dropdown */
.dropdown-content a {
                       color: black;
                       padding: 6px 8px;
                       text-decoration: none;
                       display: inline-block;

}

/* Verander kleur in de dropdown*/
.dropdown-content a:hover {background-color: #ddd;}

/* Laat dropdown zien bij hover*/
.dropdown:hover .dropdown-content {display: block;}

/* Veranderd achtergrond kleur als de dropdown content te zien is*/
.dropdown:hover .dropbtn {background-color: #45c2e3;}