body {
    font-family: 'Roboto', sans-serif !important;
}

.header-bg {
    background-color: #45c2e3;
    position: relative; /* <-- added declaration */
}

.header-img {
    height: auto;
    width: 100%;
    max-width: 100%;
}

.logo {
    max-height: 65px;
    margin: 8px 0px 8px 0px;
}

.content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bg {
    background-color: #45c2e3;
}

.rel-prod {
    color: #ffffff;
}

.product-img {
    width: 100% !important;
    outline-offset: -318px; /*om later een overlay te geven voor livesearch donker maken*/
}

.btn-primary {
    width: 100%;
    background-color: limegreen !important;
    border: 0px !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    color: #45c2e3;
}

.inh {
    color: inherit !important;
}


/* Css voor livesearch */

tr.resultaatbalkje:hover {
    background-color: rgba(0, 174, 241, 0.3);
}

tr.resultaatbalkje {
    height: 65px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    width: 70%;
    word-wrap: break-word; /* Breek de zin als te lang is*/
    margin-top: unset;
}

strong {
    font-weight: 700;
}

#resultaattabel {
    position: absolute;
    list-style-type: none;
    height: 0px;
    /*overflow: hidden;*/
    top: 100%; /*     here               */
    transition: height 1s ease;
    left: 1px;
    z-index: 99;
    background-color: #f9f9f9;
    border-radius: 0px 0px 10px 10px;
}

table {
    width: 35%;
}

a:hover {
    color: inherit;
}

img.livefoto {
    float: left;
    padding-right: 15px;
    vertical-align: middle;
    width: 100px;
    height: available;
}

.livefoto p {
    margin-top: unset;
}

.zoekbalk {
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
}


#volgendeknop{
    float: right !important;
}

#pagenumber{
    text-align: center ;
}