body {
    font-family: 'Roboto', sans-serif !important;
}

.header-bg {
    background-color: #45c2e3;
    width: 33.33%;
    float: left;
    position: relative; /* <-- added declaration */
}

.logo {
    max-height: 65px;
    margin: 8px 0px 8px 0px;
}

.content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bg {
    background-color: #45c2e3;
}

.rel-prod {
    color: #ffffff;
}

.product-img {
    width: 100% !important;
}

.btn-primary {
    width: 100%;
    background-color: limegreen !important;
    border: 0px !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    color: #45c2e3;
}

.inh {
    color: inherit !important;
}